extends ../layouts/main

block body
  h1 Droplet "#{droplet.name}"

  h2 System
  table(class="table")
    tr
      th Status
      td #{droplet.status}
    tr
      th CPU
      td #{droplet.vcpus}x
    tr
      th Memory
      td #{droplet.memory} MB
    tr
      th Disk
      td #{droplet.disk} GB

  h2 Tags
  table(class="table")
    each tag in droplet.tags
      tr
        td
          a(href="#{pathPrefix}/tag/#{tag}") #{tag}
        td
          form(method="post" action="#{pathPrefix}/tag/#{tag}/untag" style="display:inline" class="form-inline")
            input(type="hidden" name="dropletId" value="#{droplet.id}")
            input(type="hidden" name="redirect" value="#{pathPrefix}/droplet/#{droplet.id}")
            button(type="submit" class="btn btn-xs btn-default") Untag
