extends ../layouts/main

block body
  h1 Droplet "#{droplet.name}"

  h2 System
  table.table
    tr
      th Status
      td #{droplet.status}
    tr
      th CPU
      td #{droplet.vcpus}x
    tr
      th Memory
      td #{droplet.memory} MB
    tr
      th Disk
      td #{droplet.disk} GB

  h2 Tags
  table.table
    each tag in droplet.tags
      tr
        td
          a(href="#{pathPrefix}/tag/#{tag}") #{tag}
        td
          form(method="post" action="#{pathPrefix}/tag/#{tag}/untag")
            input(type="hidden" name="dropletId" value="#{droplet.id}")
            input(type="hidden" name="redirect" value="#{pathPrefix}/droplet/#{droplet.id}")
            button.btn.btn-xs.btn-danger(type="submit") Untag
