extends ../layouts/main

block body
  h1 Tags

  .table-responsive
    table.table
      tr
        th Name
        th Droplet Count
        th Last Droplet Tagged
        th Actions

      each tag in tags
        tr
          td
            a(href="#{pathPrefix}/tag/#{tag.name}") #{tag.name}
          td #{tag.resources.droplets.count}
          td
            if tag.resources.droplets.last_tagged
              a(href="#{pathPrefix}/droplet/#{tag.resources.droplets.last_tagged.id}") #{tag.resources.droplets.last_tagged.name}
            else
              | -
          td
            form(method="post" action="#{pathPrefix}/tag/#{tag.name}/destroy")
              input(type="hidden" name="name" value="#{tag.name}")
              button.btn.btn-xs.btn-danger(type="submit") Delete Tag

  h3 Create Tag
  form.form-inline(method="post" action="#{pathPrefix}/tags")
    .input-group
      label.input-group-addon(for="tagName") Name:
      input#tagName.form-control(type="text" name="name" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
      .input-group-btn
        button.btn.btn-default(type="submit") Create
